body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}


header{
    background-color: rgb(137, 207, 24);
    padding: 50px;
    font-size: 30px;
}


header a{
    background-color: chartreuse;
    border-radius: 10px;
    font-size: 50px;
    text-decoration: none;
}

h1{
    text-align: center;
    border: dotted red;
    font-size: 70px;
    
}
.social{
    padding: 10px;
    
}

footer{
       background-color: rgb(137, 207, 24);
    font-size: 30px;
    padding: 30px;
    
}

.film{
    width: 650px;
    
    
}
